{% extends 'blog/base.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <p>Posted by {{ post.author }} on {{ post.published_date }}</p>

    <h3>Comments</h3>
    <ul>
        {% for comment in post.comments.all %}
        <li>
            <p>{{ comment.content }}</p>
            <p>Commented by {{ comment.author }} on {{ comment.created_at }}</p>
            {% if user == comment.author %}
                <a href="{% url 'comment-edit' comment.id %}">Edit</a> |
                <a href="{% url 'comment-delete' comment.id %}">Delete</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <h3>Add a Comment:</h3>
    <form method="post" action="{% url 'add-comment' post.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Post Comment</button>
    </form>
{% endblock %}
